<div class="row mt-5 g-0">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center txt-color">Sign Up</h3>
            </div>
            <div class="card-body px-5 mx-5">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label txt-color">Full Name</label>
                    <input type="text" class="form-control" [(ngModel)]="user.fullname" id="exampleFormControlInput1" placeholder="Enter full name">
                  </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label txt-color">Email address</label>
                    <input type="email" class="form-control" [(ngModel)]="user.email" id="exampleFormControlInput1" placeholder="name@example.com">
                  </div>
                  <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label txt-color">Password</label>
                    <input type="password" class="form-control" [(ngModel)]="user.password" id="exampleFormControlInput1" placeholder="********">
                  </div>
            </div>
            <div class="card-footer">
                <p class="text-center"><button (click)="Submit()" class="btn btn-info text-white fw-bold">Sign Up</button></p>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>